body{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    color: #555;
}

h1, h2{
    color: #111;
}

a {
    color: #fd8a24;
    text-decoration: none;
    font-weight: 700;
}

p{
    font-size: 20px;
    line-height: 32px;
    text-align: justify;
}

figure{
    padding: 0;
    margin: 40px 0;
    font-size: 12px;
}

figure>img{
    width: 100%;
}

ol{
    list-style: none;
    padding: 0;
}

.topo{
    padding: 9.5px;
    background-color: #333;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 5px solid #fd8a24;
}

.corpo{
    max-width: 888px;
    margin: auto;
    padding: 30px;
}

.titulo{
    font-size: 50px;
    line-height: 64px;
}

.subtitulo{
    font-weight: 400;
    font-size: 20px;
}

.autor{
    font-weight: 700;
    font-size: 0.8em;
}

.redes-sociais {
    margin-top: 10px;
}

.icone {
    width: 20px;
    padding: 10px 10px 10px 0;
}

.linha-horizontal{
    background-color: #555;
    width: 100%;
    height: 1px;
}

.conteudo{
    max-width: 648px;
    margin: auto;
}

.links{
    font-size: 20px;
    margin: 30px 0;
}

.rodape{
    background-color: #333;
    height: 100px;
}